@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
/* Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {   
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    
}

h1{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}



a {
    text-decoration: none;
    color:hsl(0, 0%, 100%)
}

/* HEADER */
header {
    width: 100%;
    
}

header nav {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    font-family: 'Raleway', sans-serif;
}
header img {
    display: block;
    width: 25%;
}

header ul {
    list-style-type: none;
    
}



header ul li {
    display: inline-block;
    padding: 5px 10px;
}
/* main */

main {
    position: relative;
}
/* Main Intro */
main .intro {
    padding-top: 80px;
    min-height: 90vh;
    width: 100%;
    background: hsl(217, 28%, 15%) url(images/bg-curvy-mobile.svg) no-repeat bottom;
    background-size: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}






main .intro img {
    width: 90%;
    display: block;
    margin: 0 auto 30px auto;
}

main .intro .intro-main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
}

main .intro p {
    text-align: center;
    margin: 20px 15px 20px 15px;
    padding-bottom: 30px;
    
}


main .intro .intro-main .btn {
    padding: 10px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    width: 60%;
    margin: 0 auto 30px auto;
    text-align: center;
    border-radius: 50px;
    border: none;  
}


/* FEATURES */

main .features {
    width: 90%;
    margin: 30px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

}



main .features .feature {
    text-align: center;
}

main .features .feature img{
    width: 15%;
    display: block;
    margin: 0 auto 30px auto;
}


main .features .feature p {
    margin: 20px 30px 30px 20px;
    
}




/* MORE FEATURES*/
main .more-features {
    width: 90%;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 30px;
    align-items: center;
}



main .more-features .more-features-img-b img {
    width: 100%;

}

main .more-features .more-features-text-b{
    width: 100%;
    padding-top: 30px;

    
}

main .more-features .more-features-text-b h2,
main .more-features .more-features-text-b p {
    padding-bottom: 15px;
}

main .more-features .more-features-text-b .more-features-link  {
    color: hsl(176, 68%, 64%);
    border-bottom: 2px solid hsl(176, 68%, 64%);
    padding-bottom: 5px;
}

main .more-features .more-features-text-b .more-features-link img {
    vertical-align: middle;
}

/* TESTIMONIALS */


main .testimonials {
    width: 90%;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}



main .testimonials .testimonial {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(219, 30%, 18%);
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

main .testimonials .testimonial:first-child::before {
    content: url("images/bg-quotes.png");
    position: absolute;
    top: -30px;
    left: 25px;
    z-index: -1;
}




main .testimonials .testimonial .profile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}



main .testimonials .testimonial .profile img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}


/* SIGN UP */
main .sign-up {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: hsl(217, 28%, 15%);
    margin-bottom: -150px;
    
}




main .sign-up div {
    text-align: center;
}

main .sign-up div p {
    margin: 20px 0 20px 0;
}

main .sign-up .sign-up-form {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

main .sign-up .sign-up-form input {
    padding: 8px;
    border-radius: 50px;
    outline: none;
    border: none;
}

main .sign-up .sign-up-form .s-btn {
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color:  hsl(0, 0%, 100%);

}


/* FOOTER */
footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 100px;
    padding-bottom: 100px;

}



footer .f-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    

}


footer .f-container .logo-box img {
    margin-top: 100px;
}

footer .f-container .footer-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;    
}

footer .f-container .footer-main .contact, 
footer .f-container .footer-main .mis {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}






.grid-split {
    display: grid;
    grid-template-columns: 10% 90%; 
    
}


.grid-split>img {
    padding-top: 5px;
    
    
}

footer .f-container .logo-box img {
    width: 30%;
    
}

.attribution{
    text-align: center;
    padding-top: 50px;
 }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 1050px) {
    /* utilities */

    body {   
        font-size: 18px;
        
    }
    
    h1{
        font-size: 28px;
    }
    
    h2{
        font-size: 23px;
        
        
    }
    /*main*/
    /*main intro */
    main .intro {
    
        background: hsl(217, 28%, 15%) url(images/bg-curvy-desktop.svg) no-repeat bottom;
        background-size: 100% 500px;
    }
    main .intro img {
        width: 50%;
    }

    main .intro .intro-main {
        width: 50%;
    }

    main .intro .intro-main .btn {
         width: 30%;
         padding: 25px;

    }

    /*FEATURES */
    main .features {
        width: 60%;
        grid-template-columns: 1fr 1fr;
    }

    main .features .feature img{

        height: 25%;
    }

        /* MORE FEATURES */
    main .more-features {
            width: 80%;
            grid-template-columns: 1fr 1fr;
    
            
             
    }
    /* TESTIMONIALS */
    main .testimonials {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        font-size: 14px;
        
    }

    main .testimonials .testimonial:first-child::before {   
        top: -10%;
        left: 5%;
    }

    main .testimonials .testimonial .profile-info h3 {
        font-size: 18px;
        font-weight: 400;
    }

    main .testimonials .testimonial .profile-info p {
        font-size: 16px;
        
    }


    /* SIGN UP*/
    main .sign-up {
        width: 60%;
        height: 300px;
        grid-gap: 10px;
        background-color: hsl(217, 28%, 15%);
        margin-bottom: -150px;
        
        
    }

    main .sign-up div {
        width: 80%;
        margin: 0 auto;
        padding-top: 20px
    }

    main .sign-up .sign-up-form {
        width: 80%;
        grid-template-columns: 60% 40%;
        grid-gap: 30px;
        padding-bottom: 20px;
        
    }
    
    main .sign-up .sign-up-form .s-btn,
    main .sign-up .sign-up-form input {
        font-size: 18px;
    }


    /*footer*/
    footer {
        
        padding-top: 220px;
    
    } 

    footer .f-container .footer-main {
        
        grid-template-columns: 3fr 2fr 1fr 1fr 2fr;
        grid-gap: 20px;    
    }

    .grid-split>img {
        padding-top: 5px;
        width: 50%;
        
    }

}

